.line {
    border: 1px solid black;
}

body {
    margin: 0;
    padding: 0;

}

.font-style {
    font-family: 'Gabarito', sans-serif;
}



.nav {
    padding-left: 220px;
    padding-right: 220px;
    background-color: #90953b;
    justify-content: center;
    color: white;
}

.nav-img {
    width: 40px;
    margin-right: 5px;
}

.item {
    list-style: none;
    gap: 20px;
    /* align-items: center;
    justify-content: center; */
}

.active-link {
    color: black;
}

/* banner */

body {
    font-family: monospace;
}

.title {
    font-weight: 900;
}

.banner {
    height: 400px;
    /* width: 100%px; */
    background-color: darkkhaki;
    padding: 20px 15px 25px 30px;
}

.banner-thum {
    background-image: url('./image/slider-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1250px;
    height: 400px;
    margin-left: 35px;
    margin-top: 20px;
    flex-direction: column;
    padding: 100px 120px;
    color: white;
    position: relative;
}

.div3 h6 {
    font-size: 12px;
    color: cornsilk;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.about-me {
    text-align: center;
    margin-top: 30px;
}

.about-description {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 60px;
    width: 800px;
}

.div-img img {
    width: 200px;
    height: 300px;
    padding-top: 100px;
    margin-left: 40px;
}

.home {
    font-size: 15px;
    padding-top: 100px;
    padding-left: 20px;
    color: black;
    padding-right: 100px;
    text-align: justify;
    margin-left: 80px;
}

.home-button {
    margin-top: 70px;
    /* background-color: burlywood; */
    border: none;
    padding: 8px 20px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    /* transition: background-color o.3s; */
    border-radius: 5px;
}

.banner-btn {
    background-color: #fffe04;
    padding: 3px 10px;
    margin-top: 6px;
    border: none;
}

.white-btn {
    background-color: white;
}

.rounded-circle {
    width: 15px;
    height: 15px;
    background-color: #fffe04;
}

.white-rounded {
    width: 15px;
    height: 15px;
    /* background-color: white; */
    /* background-color: ; */
    border: 1px solid white;
    border-radius: 50px;
}

.small-title {
    color: #c3ca16;
}


/* what we offer section */

.what-section {
    padding-top: 70px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.offer-icon {
    height: 70px;
}

.img {
    background-color: gray;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    font-size: 14px;
}



/* about section */
.about {
    background-color: rgba(128, 128, 128, .03);
    align-items: center;
    display: flex;
}

.about-img {
    width: 45%;
}

.about-img img {
    width: 600px;
}

.about-des {
    /* width: 60%; */
    padding-right: 140px;
}

.bn {
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    background-color: rgba(255, 255, 0, .7);
    border: none;
}

/* carousel */
.carousel-section {
    margin-top: 80px;
    text-align: center;
}

.carousel-title {
    font-weight: 700;
}

.carousel-img {
    width: 90px;
}

.carousel-descriptioin {
    padding-left: 250px;
    padding-right: 250px;
}

.icon {
    /* background-color: #8e9342; */
    background-color: black;
}

.carousel-item h6 {
    color: #8e9342
}


/* contact section */
.contact {
    background-color: #90973b;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.call-back {
    color: white;
}

.left {
    width: 400px;
}

.right {
    width: 400px;
}

.input {
    width: 80%;
    border-radius: 15px;
    border: none;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-top: 12px; */
}

.sent-btn {
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 35px;
    background-color: red;
    border: none;
    color: white;
}

.btn-div {
    display: flex;
}


/* footer */
footer {
    background-color: #252525;
}

.little-fotter {
    background-color: #252525;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
    /* margin-right: 10px; */
    margin-left: 100px;
    width: 50%;
}

.footer-input {
    width: 50%;
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
}

.sub-btn {
    /* position:absolute ; */
    border-radius: 15px;
    border: none;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fffe04;
}

.f-input {
    position: relative;
    width: 600px;
    border-radius: 15px;
    border: none;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    /* padding-right: 3px; */
}

/* .subscribe-btn{
    position: absolute;
    left: 150;
} */
.footer-description-main-div {
    background-color: #252525;
    color: white;
    width: 70%;
    gap: 30px;
    margin-top: 22px;
}

.footer-description-div {
    width: 35%;
    /* background-color: black; */
}

.imgg img {
    background-color: white;
}

.imgg h6 {
    /* background-color: white; */
    margin-top: 15px;
}

.imgg {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}


.last-sectioin {
    color: white;
    text-align: center;
    background-color: #90973b;
    padding-top: 15px;
    padding-bottom: 1px;
}

/* responsive medium device */
@media screen and (min-width:577px) and (max-width:992px) {
    .nav {
        padding-left: 0px;
        padding-right: 0px;
    }

    .banner-thum {
        /* text-align: center; */
        width: 700px;
        left: -30px;
    }

    .what-section {

        /* padding-top: 70px; */
        width: 100%;
        /* width: 100px; */
        margin-left: 0;
        margin-right: 0;
    }

    .what-title {
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .dd {
        padding-left: 8px;
        padding-right: 8px;
    }

    .about {
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */

    }

    .about-img {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .about-img img {
        width: 300px;
    }

    .about-des {
        text-align: center;
        width: 90%;
        padding: 0;
    }

    .form {
        flex-direction: column;
    }

    .left {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .right{
        margin-left: auto;
        margin-right: auto;
    }
    .footer-input {
        width: 90%;
        display: flex;
        /* align-items: center; */
        /* flex-direction: column; */
    }
}

/* responsive small device*/

@media screen and (max-width: 576px) {
    .nav {
        padding-left: 0px;
        padding-right: 0px;
    }

    .banner-thum {
        /* text-align: center; */
        width: 390px;
        left: -48px;
        padding: 0;
        padding-left: 10px;
        padding-top: 60px;
    }

    .what-section {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .what-title {
        width: 100%;
        text-align: center;
    }

    .dd {
        flex-direction: column;
    }

    .about {
        /* width: 90%; */
        /* display: flex; */
        /* justify-content: center; */
        flex-direction: column;
    }

    .about-img {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .about-img img {
        width: 300px;
    }

    .about-des {
        text-align: center;
        width: 90%;
        padding: 0;
        margin-top: 10px;
    }

    .carousel-descriptioin {
        padding: 50px;
    }
    .form {
        flex-direction: column;
    }

    .left {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .right{
        margin-left: auto;
        margin-right: auto;

    }
}